<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hello there.</h1>
    <p>
        <a href='/example'>Example Page</a>
    </p>
    <p>
        <a href='/login/google'>Login with Google</a>
    </p>
</body>
</html>