html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	margin-top: 56px;
	height: 100%;
}

.header__OVZyn {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #3eb73a;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header__OVZyn h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header__OVZyn nav {
	float: right;
	font-size: 100%;
}

.header__OVZyn nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header__OVZyn nav a:hover,
.header__OVZyn nav a:active {
	background: rgba(0,0,0,0.2);
}

.header__OVZyn nav a.active__r\+Z6z {
	background: rgba(0,0,0,0.4);
}

/* Layout */
.flex-cols__9yeaT {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.container__90B9A {
	padding: 3rem 4rem;
	min-height: 100%;
	margin-left: 2em;
	margin-right: 2em;
}

.container-ls__uEnGC {
	padding: 1rem 4rem;
	min-height: 100%;
	margin-left: 2em;
	margin-right: 2em;
}

.container__90B9A input {
	font-size: .9rem;
	padding: .75em .6em;
}

.container__90B9A meter {
	width: 100%;
	height: 1.25rem;
}

.debuggingContainer__hp8\+n {
	margin: 8rem 20px;
	border: 1px solid black;
}

.innerContent__tjeM8 {
	padding-left: 2em;
	padding-right: 2em;
}

.debuggingContainer__hp8\+n summary {
	padding: 1em 2em;
	background-color: palegoldenrod;
}

.debuggingContainer__hp8\+n[open] {
	padding-bottom: 1em;
}

.debuggingContainer__hp8\+n[open] summary {
	margin-bottom: 2em;
	border-bottom: 1px solid black;
}

/* Form Related */
.field__JnV7S {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	max-width: 36rem;
	margin-bottom: 1em;
}

.button__aKaTR {
	font-size: .9rem;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 1em 2em;
	background-color: rgb(175, 68, 202);
	box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.1);
}

.button__aKaTR:hover {
	background-color: rgb(123, 44, 143);
}

.button__aKaTR:disabled {
	background-color: rgb(147, 129, 151);
}

.button2__XpqWF {
	font-size: .9rem;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 1em 2em;
	background-color: rgb(68, 202, 128);
	box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.1);
}

.button2__XpqWF:hover {
	background-color: rgb(44, 143, 94);
}

.button2__XpqWF:disabled {
	background-color: rgb(102, 143, 122);
}

/* Output Related */
.warning__sCNDR {
	color: orange;
}

.help__5qn9C {
	color: lightskyblue;
}

.hashResult__uKZVg {
	overflow: scroll;
}
.__json-pretty__{line-height:1.3;color:#f8f8f2;background:#1e1e1e;overflow:auto;}.__json-pretty__ .__json-key__{color:#ff5e5e}.__json-pretty__ .__json-value__{color:#fdb082}.__json-pretty__ .__json-string__{color:#e9fdac}.__json-pretty__ .__json-boolean__{color:#69c}.__json-pretty-error__{line-height:1.3;color:#f8f8f2;background:#1e1e1e;overflow:auto}


/*# sourceMappingURL=ssr-bundle.8952c.css.map*/