.login {
	padding: 8rem 20px;
	min-height: 100%;
	margin-left: 2em;
	margin-right: 2em;
}

.field {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}

.warning {
	color: orange;
}

.help {
	color: lightskyblue;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em 2em;
	background-color: lightblue;
}

.twocols {
	display: flex;
	flex-direction: column;
}

.hashResult {
	overflow: scroll;
}

.debugging {
	padding: 1em 2em;
	margin: 8rem 20px;
	border: 1px solid black;
}